*.class
*.log
logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
hs_err_pid*
/.metals
/.minesweeper/null
/minesweeper/saves
/node_modules/*
/minesweeper/coverage
/node_modules
/.vscode