@main("Minesweeper GUI") {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>

    <!-- Video-Hintergrund -->
    <div id="video-background">
        <video autoplay loop muted playsinline>
            <source src="../assets/Minesweeper.mp4" type="video/mp4">
            Ihr Browser unterstützt das Video-Tag nicht.
        </video>
    </div>

    <!-- Graue Leiste oben -->
    <header>
        <nav id="top-nav">
            <a id="logo">Minesweeper</a>
        </nav>
    </header>

    <!-- Hauptinhalt für das Spiel -->
    <div id="content" class="game">

        <div id="modeSelection">
            <button id="singleMode" class="btn-custom mx-2">Single Player</button>
            <button id="coopMode" class="btn-custom mx-2">Cooperative</button>
            <button id="vsMode" class="btn-custom mx-2">Versus</button>
        </div>

        <div id="difficulty">
            <button id="easy" class="btn-custom mx-2">Easy</button>
            <button id="medium" class="btn-custom mx-2">Medium</button>
            <button id="hard" class="btn-custom mx-2">Hard</button>
        </div>

        <div id="gameBoard"></div>

        <div id="controls">
            <button id='undo' class="btn-custom mx-2">Undo</button>
            <button id='restart' class="btn-custom mx-2">Restart</button>
            <button id='saveGame' class="btn-custom mx-2">Save Game</button>
            <button id='loadGamePage' class="btn-custom mx-2">Load Game</button>
        </div>
    </div>
}
