@import scala.collection.Seq
@(games: Seq[(String, String)])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Game</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/homepage.css")">
    <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/homepage.js")"></script>
</head>
<body>
<header class="text-center">
    <h1 id="title">Minesweeper Load Game</h1>
</header>

<section class="container my-5 p-4 bg-white rounded shadow">
    <h2 class="text-primary">Your Saved Games</h2>
    <ul class="list-group">
        @for((gameId, fileName) <- games) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Game: @fileName
            <div>
                <button class="btn btn-info btn-sm mr-2" id='loadGame' data-game-id="@gameId">Load</button>
                <button class="btn btn-danger btn-sm" id='deleteGame' data-game-id="@gameId">Delete</button>
            </div>
            <script>
                $('.list-group-item').on('click', '#loadGame', function() {
                    var gameId = $(this).data('game-id');
                    console.log(gameId);
                    loadGame(gameId);
                });

                $('.list-group-item').on('click', '#deleteGame', function() {
                    var gameId = $(this).data('game-id');
                    console.log(gameId);
                    deleteGame(gameId);
                });
            </script>
        </li>
        }
    </ul>
</section>

<footer class="text-center my-5">
    <h1>
        <a class="btn start-game-button" href='@routes.HomeController.gameGui()'>Start New Game</a>
    </h1>
</footer>
</body>
</html>
