<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Game</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="../assets/favicon-32x32.png">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/saveGamePage.css")">
    <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/saveGamePage.js")"></script>
</head>
<body>
<header class="text-center">
    <h1 id="title">Minesweeper Load Game</h1>
</header>

<section class="container my-5 p-4 bg-white rounded shadow">
    <h2 class="text-primary">Your Saved Games</h2>
    <ul id="content"></ul>
</section>

<footer class="text-center my-5">
    <h1>
        <button id="start-game-btn" class="btn start-game-button">Start New Game</button>
    </h1>
</footer>
</body>
</html>
